[alias]
	cob = "!f() { git checkout -b \"$1\"; }; f"
	ac = "!f() { git add -A && git commit -m \"$1\"; }; f"
	acp = "!f() { git add -A && git commit -m \"$1\" && git push; }; f"
	cp = "!f() { git commit -m \"$1\" && git push; }; f"
	ignored = "!f() { git ls-files -v | grep \"^[[:lower:]]\"; }; f"
	cbp = "!f() { git checkout -b \"$1\" && git push --set-upstream origin \"$1\"; }; f"
[user]
	name = Hoa Ngo
	email = DucHoa.Ngo@nab.com.au
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[init]
	defaultBranch = master
[mergetool "fugitive"]
	cmd = mvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
